#headerImg {
    max-height: 365.6px;
    padding-top: 35px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

/*top*/
.top {
    position: relative;
    width: 90%;
    padding: 0 5%;
    background-color: #E8F8F8;
    height: 482px;
}
.top .header {
    padding: 0 35px;
}

.top button {
    position: relative;
    float: right;
    font-size: 17px;
    font-weight: bold;
    padding: 30px 25px;
    background-color: #00BABA;
    border: #00BABA;
    color: white;
}

.top button:hover {
    color: gray;
}

/*joinUs*/
.joinUs {
    padding-top: 60px;
    text-align: center;
    background-color: #E8F8F8;
    line-height: 1.8;
    height: 230px;
}

.joinUs button {
    background-color: #00BABA;
    border: none;
    padding: 6px 13px;
    margin: 20px auto;
    margin-top: 0;
    color: white;
}

.joinUs h2 {
    margin-top: 0;
}

.joinUs span {
    color: #1EBAB9;
    padding-bottom: 2px;
    border-bottom: #1EBAB9 solid 1px;
}

/*footer*/
.footer {
    width: 80%;
    height: 50px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer a {
    color: #48C7C6;
    text-decoration: none;
}

.footer span {
    color: gray;
    font-size: 12px;
    margin: auto 0;
}