#headerImg {
    max-height: 365.6px;
    padding-top: 35px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
  }

/*top------------*/
.top {
    position: relative;
    width: 90%;
    padding: 0 5%;
    background-color: #E8F8F8;
    height: 482px;
}
.top .header {
    padding: 0 35px;
}

.top button {
    position: relative;
    float: right;
    font-size: 17px;
    font-weight: bold;
    padding: 30px 25px;
    background-color: #00BABA;
    border: #00BABA;
    color: white;
}

.top button:hover {
    color: gray;
}

/*social-----------*/
.social {
    text-align: center;
    padding-bottom: 15px;
}

.social p {
    font-size: 15px;
    line-height: 1.7;
    color: gray;
}

.social h2 {
    color: black;
}

.social h4 {
    display: inline;
}

.social img {
    position: absolute;
    padding: 8px;
    background-color: #E8F8F8;
    border: none;
}

.social .social-icons {
    margin-left: 15px;
    padding-bottom: 20px;
    position: relative;
    padding-top: 4px;
    display: inline-block;
}
/*individual icons*/
#fb {
    left: 80px;
    padding: 8px 12px; 
}
#tw {
    left: 39px;
    padding: 9px 9px;
}
#ig {
    padding: 8px 9px;
}

.plan {
    padding-left: 125px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.plan .text {
    line-height: 1.6;
}

.text p {
    color: gray;
}

.text a {
    color: #1EBAB9;
    text-decoration: none;
}

/*joinUs-----------*/
.joinUs {
    padding-top: 60px;
    text-align: center;
    background-color: #E8F8F8;
    line-height: 1.8;
    height: 230px;
}

.joinUs button {
    background-color: #00BABA;
    border: none;
    padding: 6px 13px;
    margin: 20px auto;
    margin-top: 0;
    color: white;
}

.joinUs h2 {
    margin-top: 0;
}

.joinUs span {
    color: #1EBAB9;
    padding-bottom: 2px;
    border-bottom: #1EBAB9 solid 1px;
}

/*footer----------------*/
.footer {
    width: 80%;
    height: 50px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer a {
    color: #48C7C6;
    text-decoration: none;
}

.footer span {
    color: gray;
    font-size: 12px;
    margin: auto 0;
}